/*用于缩放的变量，由js动态设置*/
.imgs {
    --tx: 0px;
    --ty: 0px;
    --scale: 1;
}
/*控制每张图片的大小样式*/
.imgs {
    width: 100%;
    height: 21vh;
    border-radius: 10px;

    /*显示方式：完整显示且保留黑边*/
    /*不要纯黑，保留深黑色，防止拖影*/
    object-fit: contain;
    background-color: #101010;

    user-select: none;
    /*设置鼠标样式*/
    cursor: zoom-in;
}



/*图片动画控制*/
/*图片初始样式*/
.imgs {
    z-index: var(--z-base);

    /*第一个阴影作为边框，第二个作为阴影*/
    box-shadow: #4a5d75 0 0 0 3px,
                #5c5c5c 0 0 10px 3px;

    transition: transform 250ms,
                z-index 250ms,
                box-shadow 250ms;

    /*告诉浏览器这些属性将会改变，让浏览器预先渲染，优化性能*/
    will-change: transform,z-index,box-shadow;

    /*该缩放值与js动画设置里面的缩放值绑定，两个必须同时修改，不然图片大小会显示异常*/
    transform: scale(0.93);
}
/*图片浮过样式*/
.imgs:hover {
    z-index: var(--z-imgAndSet);

    box-shadow: #e0e0d0 0 0 0 3px,
                #5c5c5c 0 0 17px 7px;
    transition: transform 250ms,
                z-index 250ms,
                box-shadow 250ms;
}
/*预览大图样式*/
.imgs.active {
    z-index: var(--z-imgAndSet);
    /*鼠标缩小样式*/
    cursor: zoom-out;
    object-fit: contain;

    /*删除阴影，缩小边框*/
    box-shadow: #e0e0d0 0 0 0 1px;

    /*使用js计算位移参数*/
    transform: translate(var(--tx), var(--ty)) scale(var(--scale));
}