/*重置边距*/
*{
    margin: 0;
    padding: 0;
}

/*设置flex布局*/
body {
    width: 100vw;
    min-height: 155vh;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    background-color: var(--pageBGC);

    /*防止页面左上角出现鼠标焦点*/
    user-select: none;
}

/*初始化一些设置，防止元素闪现*/
.switch {
    display: none;
}
#returnTag {
    visibility: hidden;
}

/*隐藏滚动条*/
::-webkit-scrollbar {
    display: none;
}

/*加载字体*/
@font-face {
    font-family: "思源宋体-Medium";
    src: url("/font/Font-Medium.otf") format("opentype");
    font-weight: auto;
    font-style: auto;
}
body {
    font-family: 思源宋体-Medium, sans-serif;
}



/*主题色控制*/
/*默认风格，暗色模式*/
:root {
    /* 页面大背景 */
    --pageBGC: #121416;

    /* 筛选大框 */
    --filterBoxBGC: #1d2024;

    /* 控制面板 */
    --controlBGC: #181b1f;

    /* 图片展示区 */
    --showImgBGC: #0a0a0a;

    /* 列表区域(左侧类别) */
    --showListBGC: #2a2e33;

    /* 标签显示区域(右侧池子) */
    --showTagBGC: #23262b;

    /* 单个标签颜色 */
    --tagBGC: #d6b882;

    /* 提交按钮 */
    --controlButtonBGC: #D16430;

    /* 浅色文本 */
    --fontColor: #dcdcdc;

    /* 文本hover */
    --fontHoverColor: #101010;

    /* 金色边框 */
    --goldLine: #5c5645;

    /* 图片背景板颜色 */
    --imgLiningColor: #101010;

    /* 图片边框 */
    --imgBorderColor: #4a5d75;

    /* 图片Hover边框 */
    --imgHoverBorderColor: #e0e0d0;

    /* 图片阴影 */
    --imgShadowColor: #5c5c5c;
}
/*手动亮色模式*/
:root[data-theme='light'] {
    /* 页面大背景 */
    --pageBGC: #f2f0e9;

    /* 筛选大框 */
    --filterBoxBGC: #fffbf0;

    /* 控制面板 */
    --controlBGC: #e6e2d6;

    /* 图片展示区 */
    --showImgBGC: #e8e8e8;

    /* 列表区域 */
    --showListBGC: #dedbd3;

    /* 标签显示区 */
    --showTagBGC: #dcd8cc;

    /* 标签颜色 */
    --tagBGC: #d6b882;

    /* 提交按钮 */
    --controlButtonBGC: #D16430;

    /* 深色文本 */
    --fontColor: #2b2b2b;

    /* 文本Hover */
    --fontHoverColor: #101010;

    /* 金色边框，相比深色，稍微加亮 */
    --goldLine: #8c8268;

    /* 图片背景板颜色 */
    --imgLiningColor: #f0f0f0;

    /* 图片边框 */
    --imgBorderColor: #6d6555;

    /* 图片Hover边框 */
    --imgHoverBorderColor: #e0e0d0;

    /* 图片阴影 */
    --imgShadowColor: rgba(92, 86, 69, 0.3);
}
@media (prefers-color-scheme: light) {
    :root:not([data-theme="dark"]) {
        /* 页面大背景 */
        --pageBGC: #f2f0e9;

        /* 筛选大框 */
        --filterBoxBGC: #fffbf0;

        /* 控制面板 */
        --controlBGC: #e6e2d6;

        /* 图片展示区 */
        --showImgBGC: #e8e8e8;

        /* 列表区域 */
        --showListBGC: #dedbd3;

        /* 标签显示区 */
        --showTagBGC: #dcd8cc;

        /* 标签颜色 */
        --tagBGC: #d6b882;

        /* 提交按钮 */
        --controlButtonBGC: #D16430;

        /* 深色文本 */
        --fontColor: #2b2b2b;

        /* 文本Hover */
        --fontHoverColor: #101010;

        /* 金色边框，相比深色，稍微加亮 */
        --goldLine: #8c8268;

        /* 图片背景板颜色 */
        --imgLiningColor: #f0f0f0;

        /* 图片边框 */
        --imgBorderColor: #6d6555;

        /* 图片Hover边框 */
        --imgHoverBorderColor: #e0e0d0;

        /* 图片阴影 */
        --imgShadowColor: rgba(92, 86, 69, 0.3);
    }
}
/*主题切换动画*/
body {
    transition: background-color 250ms;
}
* {
    transition-property: background-color, border-color, color, box-shadow;
    transition-duration: 250ms;
}



/*index层级管理*/
/*显示在遮罩上面的任何东西图层都要比遮罩高*/
:root {
    /*基础图片显示层*/
    --z-base: 10;

    /*遮罩层，背景遮罩*/
    --z-overlay: 50;

    /*设置自带的框架，在设置层背面贴着*/
    --z-setBack: 90;

    /*图片显示和设置显示，同级高度，都要比遮罩高*/
    --z-imgAndSet: 100;

    /*图片下方的图片标签显示区，在图片上面*/
    --z-showTags: 110;

    /*设置里面的按钮背景，在设置之上*/
    --z-buttonBorder: 110;

    /*设置里面的滑块，在背景上面，但是要比按钮文本低*/
    --z-buttonSlider: 120;

    /*设置按钮文本，比滑块高，做出透明效果*/
    --z-buttonText: 130;

    /*左侧dock栏，可以控制页面跳转，显示图层较高*/
    --z-dock: 300;
}