#overlay {
    /*定义初始样式，铺满全屏*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0);

    /*这个图层必须比元素(img,button,...)的hover小，不然会闪烁*/
    z-index: var(--z-overlay);
    /*让鼠标穿过遮罩层*/
    pointer-events: none;

    will-change: background;
    transition: background 250ms ease;
}
#overlay.show {
    /*禁止鼠标穿过遮罩层*/
    pointer-events: auto;

    background: rgba(0, 0, 0, 0.7);
    transition: background 250ms ease;
}