/*基础样式*/
#returnTag {
    position: fixed;

    width: 100vw;
    height: auto;
    bottom: 0;
    padding: 10px;

    background-color: #F3E9E3;

    z-index: var(--z-showTags);
}
/*布局方式*/
#returnTag {
    display: flex;
    flex-wrap: nowrap;
    justify-content: safe center;

    gap: 10px;
}
/*变化样式*/
#returnTag {
    will-change: transform;
    transform: translateY(100%);
    pointer-events: none;
    visibility: hidden;

    transition: transform 250ms ease, visibility 0s linear 260ms;
}
/*这里的显示隐藏因为要同时考虑页面加载时元素闪烁问题，所以这么写*/
/*设置是否可见作为显示隐藏*/
#returnTag.show {
    transform: translateY(0);
    pointer-events: auto;
    visibility: visible;

    transition: transform 250ms ease, visibility 0s linear 0s;
}

/*内部元素布局*/
.tags {
    min-width: 180px;
    width: auto;
    height: 40px;
    background-color: var(--tagBGC);
    transition: background-color 150ms;
}
/*文本设置*/
.tags {
    /*文本禁止换行，超出会撑大元素，所以没问题*/
    white-space: nowrap;
    /*撑大添加10px边距*/
    padding: 0 13px;

    /*文本设置*/
    user-select: none;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
.tags:hover {
    background-color: #ffffff;
    transition: background-color 150ms;
}
.tags:active {
    background-color: #d2d2d2;
    transition: background-color 150ms;
}
/*解决溢出时10px被裁切的问题*/
.tags:first-child {
    margin-left: 10px;
}
.tags:last-child {
    margin-right: 10px;
}

/*滚动条设置*/
#returnTag {
    overflow-x: auto;
    overflow-y: hidden;

    /*平滑滚动*/
    scroll-behavior: smooth;
}
#returnTag::-webkit-scrollbar {
    display: initial;
    height: 10px;
}
#returnTag::-webkit-scrollbar-thumb {
    /* 滑块颜色 */
    background: rgba(128, 128, 128, 0.6);
    border-radius: 0;
}
#returnTag::-webkit-scrollbar-thumb:hover {
    /* 悬停效果 */
    background: rgba(128, 128, 128, 0.9);
}
#returnTag::-webkit-scrollbar-track {
    /* 滚动条轨道 */
    background: rgba(128, 128, 128, 0.3);
}