/*设置背景*/
/*基础样式*/
#set {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    pointer-events: none;
    z-index: var(--z-setBack);
}
/*布局*/
#set {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*设置框架，为了边距裁切而存在*/
#setFrame {

}
/*设置页面*/
#setBox {
    width: 55vw;
    height: 60vh;
    background: rgba(0, 0, 0, 0);
    z-index: var(--z-imgAndSet);
    padding: 20px;
    box-sizing: border-box;

    overflow: hidden;
    opacity: 0;

    will-change: background, opacity;
    transition: background 250ms, opacity 250ms;
}
/*设置页面出现*/
#setBox.show {
    /*标准对话框颜色*/
    background: #d3d1cf;
    /*禁止鼠标穿过设置层*/
    pointer-events: auto;

    opacity: 1;
    box-shadow: 0 0 30px 3px rgba(64, 64, 64, 0.6);

    will-change: background, opacity;
    transition: background 250ms, opacity 250ms;
}
/*添加滚动条*/
#setBox {
    overflow-y: scroll;
    overflow-x: hidden;
}
#setBox::-webkit-scrollbar {
    display: initial;
    width: 6px;
}
#setBox::-webkit-scrollbar-track {
    /* 滚动条轨道 */
    background: rgba(0, 0, 0, 0.2);
}
#setBox::-webkit-scrollbar-thumb {
    /* 滚动条滑块 */
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0;
}
#setBox::-webkit-scrollbar-thumb:hover {
    /* 悬停效果 */
    background: rgba(0, 0, 0, 0.6);
}


/*详细配置*/
/*标题样式*/
.title {
    font-size: 30px;
}
/*分割线样式*/
.line {
    height: 1px;
    width: auto;
    background-color: black;
}
/*提示文本框架*/
#tipList {
    margin-top: 60px;
}
/*提示和按钮文本*/
.tips {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 22px;
    height: 35px;
    margin-top: 10px;
}