/*设置背景*/
/*基础样式*/
#set {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    pointer-events: none;
    z-index: var(--z-setBack);
}
/*布局*/
#set {
    display: flex;
    justify-content: center;
    align-items: center;
}



/*设置页面*/
#setBox {
    width: 55vw;
    height: 60vh;
    background: rgba(0, 0, 0, 0);
    z-index: var(--z-imgAndSet);

    border-radius: 15px;
    overflow: hidden;
    opacity: 0;

    will-change: background;
    transition: background 250ms ease;
}
#setBox.show {
    background: #F3E9E3;
    /*禁止鼠标穿过设置层*/
    pointer-events: auto;

    opacity: 1;
    box-shadow: 0 0 15px 5px #191919;

    will-change: background;
    transition: background 250ms ease;

    box-sizing: border-box;
    padding: 20px;
}
/*添加滚动条*/
#setBox {
    overflow-y: auto;
    overflow-x: hidden;
}



/*详细配置*/
/*标题样式*/
.title {
    font-size: 30px;
}
/*分割线样式*/
.line {
    height: 1px;
    width: auto;
    background-color: black;
}
/*设置框架*/
#tipList {
    margin-top: 60px;
}
/*提示和按钮文本*/
.tips {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 22px;
    height: 35px;
    margin-top: 10px;
}