/*初始样式*/
#toTop {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;

    background-color: var(--controlButtonBGC);
    color: var(--fontHoverColor);
    opacity: 1;
    transition: background-color 250ms, color 250ms, opacity 250ms;
}
/*居中内容*/
#toTop {
    line-height: 50px;
    font-size: 40px;
    text-align: center;
}
#toTop:hover {
    background-color: #ffffff;
    color: var(--fontHoverColor);
    transition: background-color 250ms, color 250ms;
}
#toTop:active {
    background-color: #d2d2d2;
    transition: background-color 250ms, color 250ms;
}
/*默认隐藏，达到固定高度才显示*/
#toTop.hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms;
}