#img1 {
    background-image: url("/Reverse 1999 Before/1-This is Tomorrow/1966-越过暴雨.png");
}
#img2 {
    background-image: url("/Reverse 1999 Before/10-Folie et Deraison/1991-夜晚的故事.png");
}
#img3 {
    background-image: url("/Reverse 1999 Before/10-Folie et Deraison/1991-黑夜的镜子.png");
}
#img4 {
    background-image: url("/Reverse 1999 Before/9-Tristes Tropiques/1990-热病.png");
}
#img5 {
    background-image: url("/Reverse 1999 Before/4-Nouvelles et Textes pour rien/Unknownl-走廊上.png");
}
#img6 {
    background-image: url("/Reverse 1999 Before/6-The Prisoner in The Cave/1914-牙的示威.png");
}
