#input {
    width: 60vw;
    height: 40px;
    outline: none;
    border: 1px solid var(--imgBorderColor);

    transition: background-color 250ms;
}
/*文本控制*/
#input {
    font-size: 32px;
    line-height: 40px;
}