#input {
    width: 60vw;
    height: 40px;
    outline: none;
    border: 1px solid var(--imgBorderColor);

    transition: background-color 250ms;
}
/*文本控制*/
#input {
    font-size: 32px;
    /*normal是为了防止选中文本时文本位置变化*/
    line-height: normal;
    font-family: inherit;
}