/* 外层容器相对定位 */
#inputWrapper {
    position: relative;
}



/* 提示框基础样式 */
#inputTips {
    display: block;
    position: absolute;
    /*显示在父元素的底部*/
    top: 100%;
    left: 0;
    /* 和输入框同宽 */
    width: 100%;
}
/*控制显示隐藏，默认隐藏，逻辑在js里*/
#inputTips {
    height: 0;
    border-width: 0;
}
/*扩展样式*/
#inputTips {
    background-color: var(--showTagBGC);
    box-sizing: border-box;
    z-index: var(--z-base);

    /*不要上边框，不然边框会和输入框边框重合*/
    border-style: solid;
    border-color: var(--imgBorderColor);

    /* 为左侧的翻页竖线留出空间 */
    /*该变量和下方的翻页区宽度同步，如果要修改必须同时修改*/
    padding-left: 20px;
    overflow: hidden;
}
/*显示动画*/
#inputTips {
    transition: height 250ms cubic-bezier(0.770, 0.000, 0.175, 1.000),
                border-width 250ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}



/* 候选词单项样式 */
.words {
    height: 34px; /* 必须和上面计算的总高度匹配 */
    line-height: 34px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    padding: 0 10px;
    color: var(--fontColor);
    transition: color 250ms, background-color 250ms;
}
/* 高亮选中状态 */
.words.active, .words:hover {
    background-color: #ffffff;
    color: var(--fontHoverColor);
    transition: color 250ms, background-color 250ms;
}
/*点击状态*/
.words:active {
    background-color: #d2d2d2;
    color: var(--fontHoverColor);
    transition: color 250ms, background-color 250ms;
}