/*初始化*/
#ShortcutKey {
    height: 40px;
    width: 40px;

    background-color: var(--tagBGC);
    transition: background-color 250ms;
}
/*边框控制*/
#ShortcutKey {
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-color: var(--imgBorderColor);
}
/*文本控制*/
#ShortcutKey {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
/*点击效果*/
#ShortcutKey:hover {
    background-color: #ffffff;
    transition: background-color 250ms;
}
#ShortcutKey:active {
    background-color: #d2d2d2;
    transition: background-color 250ms;
}