#imgOverlay {
    /*定义初始样式，铺满全屏*/
    position: fixed;
    top: 0;
    left: 0;
    /*使用百分比是为了防止盖住滚动条*/
    width: 100%;
    height: 100vh;
}

#imgOverlay {
    /*这个图层必须比元素(img,button,...)的hover小，不然会闪烁*/
    z-index: var(--z-overlay);
    /*让鼠标穿过遮罩层*/
    pointer-events: none;
    background-color: transparent;

    will-change: background-color;
    transition: background-color 250ms ease;
}

#imgOverlay.show {
    /*禁止鼠标穿过遮罩层*/
    pointer-events: auto;

    background-color: var(--imgLiningColor);
    transition: background-color 250ms ease;
}