/*提示和按钮文本*/
.tips {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 22px;
    /*防止多行文本挤在一起，用auto*/
    height: auto;
    margin-top: 10px;
    color: var(--fontColor);
}

/*联系方式允许复制*/
#contact {
    user-select: text;
}

#copyButton {
    user-select: none;
}

/*给选项加上hover边框*/
.tips {
    box-sizing: border-box;
    border-style: none none solid none;
    border-width: 1px;
    border-color: transparent;

    transition: border-color 150ms, color 250ms;
}
@media (hover: hover) {
    .tips:hover {
        border-style: none none solid none;
        border-width: 1px;
        border-color: var(--controlButtonBGC);

        transition: border-color 150ms, color 250ms;
    }
}