#Filter {
    width: 85vw;
    height: 70vh;
    background-color: var(--filterBoxBGC);
    margin-top: 15vh;
}
/*flex布局*/
#Filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/*控制筛选器框架布局*/
/*它的背景色就是上面那个背景色，它没有背景*/
#filterBox {
    width: 85vw;
    height: 50vh;
}
#filterBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}