@charset "UTF-8";
/*编码不能删，因为下面那个content里面显示的中文，如果删了会乱码*/
/*初始化*/
#submitPool {
    position: relative;

    width: 32vw;
    height: 40vh;
    background-color: var(--showTagBGC);
    border: 1px solid var(--goldLine);

    padding: 10px;
}
/*定义提示文本*/
#submitPool::before {
    content: "请选择需要筛选的标签";

    /*居中*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 30px;
    color: var(--fontColor);
    transition: color 250ms;

    /*禁止换行*/
    white-space: nowrap;
}
/*当里面有元素时删除文本*/
/*让前景色和背景色相同，达到删除效果，方便动画渐变*/
#submitPool:not(:empty)::before {
    color: var(--showTagBGC);
    transition: color 250ms;
}


/*定义布局样式*/
/*共享布局样式，代码位于 tagPool.css 文件*/



/*为列表开启滚动条*/
#submitPool {
    overflow-y: auto;
}
#submitPool::-webkit-scrollbar {
    display: initial;
    width: 6px;
}



/*定义每个标签的样式*/
/*共享布局样式，代码位于 tagPool.css 文件*/