#submitPool {
    width: 32vw;
    height: 40vh;
    background-color: var(--showTagBGC);
    border: 1px solid var(--goldLine);

    padding: 10px;
}



/*定义布局样式*/
/*共享布局样式，代码位于 tagPool.css 文件*/



/*为列表开启滚动条*/
#submitPool {
    overflow-y: auto;
}
#submitPool::-webkit-scrollbar {
    display: initial;
    width: 8px;
}
#submitPool::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.6); /* 滑块颜色 */
    border-radius: 0;
}
#submitPool::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.9); /* 悬停效果 */
}
#submitPool::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.3);  /* 滚动条轨道 */
}



/*定义每个标签的样式*/
/*共享布局样式，代码位于 tagPool.css 文件*/