#tagList {
    background-color: var(--showListBGC);
}
/*自动添加滚动条*/
#tagList {
    overflow-y: auto;
    height: 40vh;
    padding: 10px;

    border: 1px solid var(--goldLine);
}



/*设置每个选项的基础外观*/
.item {
    padding: 3px 15px 3px 15px;
    user-select: none;
    text-align: center;
    font-size: 25px;
}
/*设置被选择的动画*/
.item {
    background-color: var(--showListBGC);
    color: var(--fontColor);
}
.item:hover {
    background-color: #ffffff;
    color: var(--fontHoverColor);
    transition: background-color 150ms, color 150ms;
}
.item:active {
    background-color: #d2d2d2;
    color: var(--fontHoverColor);
    transition: background-color 150ms, color 150ms;
}



/*为列表开启滚动条*/
#tagList::-webkit-scrollbar {
    display: initial;
    width: 6px;
}