#overlay {
    /*定义初始样式，铺满全屏*/
    position: fixed;
    top: 0;
    left: 0;
    /*使用百分比是为了防止盖住滚动条*/
    width: 100%;
    height: 100vh;
    backdrop-filter: brightness(100%) blur(0px);

    /*这个图层必须比元素(img,button,...)的hover小，不然会闪烁*/
    z-index: var(--z-overlay);
    /*让鼠标穿过遮罩层*/
    pointer-events: none;

    will-change: backdrop-filter;
    transition: backdrop-filter 250ms ease;
}
#overlay.show {
    /*禁止鼠标穿过遮罩层*/
    pointer-events: auto;

    backdrop-filter: brightness(60%) blur(30px);
    transition: backdrop-filter 250ms ease;
}