/*主题色控制*/
/*一部分在深色和暗色没有变化的颜色未列出，单独控制*/
/*默认风格，暗色模式*/
:root {
    /* 页面大背景 */
    --pageBGC: #121416;

    /* 筛选大框 */
    --filterBoxBGC: #1d2024;

    /* 控制面板 */
    --controlBGC: #181b1f;

    /* 图片展示区 */
    --showImgBGC: #0a0a0a;

    /* 列表区域(左侧类别) */
    --showListBGC: #2a2e33;

    /* 标签显示区域(右侧池子) */
    --showTagBGC: #23262b;

    /* 单个标签颜色 */
    --tagBGC: #d6b882;

    /* 提交按钮 */
    --controlButtonBGC: #D16430;

    /* 浅色文本 */
    --fontColor: #dcdcdc;

    /* 文本hover */
    --fontHoverColor: #101010;

    /* 金色边框 */
    --goldLine: #5c5645;

    /* 图片背景板颜色 */
    --imgLiningColor: #101010;

    /* 图片边框 */
    --imgBorderColor: #4a5d75;

    /* 图片Hover边框 */
    --imgHoverBorderColor: #e0e0d0;

    /* 图片阴影 */
    --imgShadowColor: #5c5c5c;

    /* 滚动条轨道 */
    --scrollBarTrack: rgba(255, 255, 255, 0.3);

    /* 滚动条滑块 */
    --scrollBarThumb: rgba(255, 255, 255, 0.6);

    /* 滚动条滑块hover */
    --scrollBarHover: rgba(255, 255, 255, 0.9);

    /*窗口大阴影*/
    --setBigShadow: rgba(0, 0, 0, 0.6);

    /*窗口小阴影*/
    --setSmallShadow: rgba(0, 0, 0, 0.9);
}
/*手动亮色模式*/
:root[data-theme='light'] {
    /* 页面大背景 */
    --pageBGC: #f2f0e9;

    /* 筛选大框 */
    --filterBoxBGC: #fffbf0;

    /* 控制面板 */
    --controlBGC: #e6e2d6;

    /* 图片展示区 */
    --showImgBGC: #e8e8e8;

    /* 列表区域 */
    --showListBGC: #dedbd3;

    /* 标签显示区 */
    --showTagBGC: #dcd8cc;

    /* 标签颜色 */
    --tagBGC: #d6b882;

    /* 提交按钮 */
    --controlButtonBGC: #D16430;

    /* 深色文本 */
    --fontColor: #2b2b2b;

    /* 文本Hover */
    --fontHoverColor: #101010;

    /* 金色边框，相比深色，稍微加亮 */
    --goldLine: #8c8268;

    /* 图片背景板颜色 */
    --imgLiningColor: #e8e8e8;

    /* 图片边框 */
    --imgBorderColor: #b8b09c;

    /* 图片Hover边框 */
    --imgHoverBorderColor: #D16430;

    /* 图片阴影 */
    --imgShadowColor: rgba(92, 86, 69, 0.3);

    /* 滚动条轨道 */
    --scrollBarTrack: rgba(0, 0, 0, 0.2);

    /* 滚动条滑块 */
    --scrollBarThumb: rgba(0, 0, 0, 0.4);

    /* 滚动条滑块hover */
    --scrollBarHover: rgba(0, 0, 0, 0.6);

    /*窗口大阴影*/
    --setBigShadow: rgba(0, 0, 0, 0.6);

    /*窗口小阴影*/
    --setSmallShadow: rgba(0, 0, 0, 0.9);
}
/*自动亮色模式*/
@media (prefers-color-scheme: light) {
    :root:not([data-theme="dark"]) {
        /* 页面大背景 */
        --pageBGC: #f2f0e9;

        /* 筛选大框 */
        --filterBoxBGC: #fffbf0;

        /* 控制面板 */
        --controlBGC: #e6e2d6;

        /* 图片展示区 */
        --showImgBGC: #e8e8e8;

        /* 列表区域 */
        --showListBGC: #dedbd3;

        /* 标签显示区 */
        --showTagBGC: #dcd8cc;

        /* 标签颜色 */
        --tagBGC: #d6b882;

        /* 提交按钮 */
        --controlButtonBGC: #D16430;

        /* 深色文本 */
        --fontColor: #2b2b2b;

        /* 文本Hover */
        --fontHoverColor: #101010;

        /* 金色边框，相比深色，稍微加亮 */
        --goldLine: #8c8268;

        /* 图片背景板颜色 */
        --imgLiningColor: #e8e8e8;

        /* 图片边框 */
        --imgBorderColor: #b8b09c;

        /* 图片Hover边框 */
        --imgHoverBorderColor: #D16430;

        /* 图片阴影 */
        --imgShadowColor: rgba(92, 86, 69, 0.3);

        /* 滚动条轨道 */
        --scrollBarTrack: rgba(0, 0, 0, 0.2);

        /* 滚动条滑块 */
        --scrollBarThumb: rgba(0, 0, 0, 0.4);

        /* 滚动条滑块hover */
        --scrollBarHover: rgba(0, 0, 0, 0.6);

        /*窗口大阴影*/
        --setBigShadow: rgba(0, 0, 0, 0.6);

        /*窗口小阴影*/
        --setSmallShadow: rgba(0, 0, 0, 0.9);
    }
}
/*主题切换动画*/
body {
    transition: background-color 250ms;
}
#Filter {
    transition: background-color 250ms;
}
#control {
    transition: background-color 250ms;
}
#select {
    transition: background-color 250ms;
}
#tagList {
    transition: background-color 250ms, border-color 250ms;
}
.item {
    transition: background-color 250ms, color 250ms;
}
#submitPool {
    transition: background-color 250ms, border-color 250ms;
}
#tagPool {
    transition: background-color 250ms, border-color 250ms;
}
#result {
    transition: color 250ms;
}
.buttons {
    transition: border-color 250ms;
}
.imgs {
    transition: background-color 250ms, box-shadow 250ms;
}
#setPadding {
    transition: box-shadow 250ms;
}
#setItem {
    transition: box-shadow 250ms;
}