/*index层级管理*/
/*显示在遮罩上面的任何东西图层都要比遮罩高*/
:root {
    /*标签后方滑块显示层*/
    --z-textSlider: 5;

    /*标签列表文本显示层*/
    --z-text: 10;

    /*基础图片显示层*/
    --z-base: 20;

    /*遮罩层，图片背景遮罩*/
    --z-overlay: 50;

    /*设置自带的框架，在设置层背面贴着*/
    --z-setBack: 90;

    /*设置的背景，box背景为透明，手动制作背景*/
    --z-setBG: 99;

    /*图片显示和设置显示，同级高度*/
    --z-imgAndSet: 100;

    /*设置上方的切换栏位，要显示在setBox上面，达到视觉效果*/
    --z-setItem: 101;

    /*图片下方的图片标签显示区，在图片上面*/
    --z-showTags: 110;

    /*设置里面的按钮背景，在设置之上*/
    --z-buttonBorder: 110;

    /*设置里面的滑块，在背景上面，但是要比按钮文本低*/
    --z-buttonSlider: 120;

    /*设置按钮文本，比滑块高，做出透明效果*/
    --z-buttonText: 130;

    /*提示框，全屏通知，用于显示重要内容*/
    --z-notice: 200;

    /*左侧dock栏，可以控制页面跳转，显示图层较高*/
    /*鸽了*/
    --z-dock: 300;
}