/*====================选项按钮====================*/
.radioBorder {
    display: flex;
    justify-content: center;
    align-items: center;

    transform: rotate(45deg);
    margin-right: 15px;
}
.radioConfirm {
    display: block;
}
.choiceText {
    width: 100px;
    font-size: 24px;
}

.radioBorder {
    width: 24px;
    height: 24px;

    border-style: solid;
    border-width: 1px;
    border-color: var(--controlButtonBGC);
}
.radioConfirm {
    width: 16px;
    height: 16px;

    background-color: transparent;
    transition: background-color 250ms, opacity 250ms;
}
@media (hover: hover) {
    .radioConfirm:hover {
        background-color: var(--controlButtonBGC);

        opacity: 0.7;
        transition: background-color 250ms, opacity 250ms;
    }
}
.radioConfirm:active {
    background-color: var(--controlButtonBGC);

    opacity: 0.4;
    transition: background-color 250ms, opacity 250ms;
}
.radioConfirm.checked {
    background-color: var(--controlButtonBGC);
    transition: background-color 250ms, opacity 250ms;
}
/*====================提示文本====================*/
#choiceTips {
    opacity: 0.5;
}