/*设置背景*/
/*设置背景控制整个设置层的显示隐藏*/
/*所有东西都包含在内*/
/*基础样式*/
#setBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    pointer-events: none;
    z-index: var(--z-setBack);
}
/*布局*/
#setBackground {
    display: flex;
    justify-content: center;
    align-items: center;
}