/*设置框架*/
/*帮助子元素定位*/
#setFrame {
    position: relative;
}
/*初始化*/
#setFrame {
    width: auto;
    height: auto;
    background: transparent;
}
/*设置布局方式*/
#setFrame {
    display: flex;
    justify-content: center;
    align-items: center;
}