#mobileTab {
    display: none;
}
@media screen and (max-width: 768px) {
    /*显示*/
    #mobileTab {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        z-index: var(--z-dock);
        position: fixed;
    }
    /*样式*/
    #mobileTab {
        width: 100vw;
        height: 70px;
        bottom: 0;
        left: 0;
        background-color: var(--controlBGC);
        transition: background-color 250ms, transform 250ms;
    }
    /*边框控制*/
    #mobileTab {
        box-sizing: border-box;
        border-color: var(--goldLine);
        border-width: 1px 0 0 0;
        border-style: solid;
    }
    /*不滑动样式*/
    #mobileTab {
        transform: translateY(0);

        transition: background-color 250ms, transform 250ms;
    }
    /*下滑样式*/
    #mobileTab.down {
        transform: translateY(100%);

        transition: background-color 250ms, transform 250ms;
    }
    /*按钮基础样式*/
    .tabButton {
        width: 70px;
        height: 35px;

        border-style: solid;
        border-width: 1px;
        border-color: var(--controlButtonBGC);
    }
    /*文本控制*/
    .tabButton {
        font-size: 20px;
        line-height: 35px;
        text-align: center;
    }

    /*按钮动画样式*/
    .tabButton {
        color: var(--controlButtonBGC);

        transition: background-color 250ms,
                    color 250ms;
    }
    .tabButton.active {
        background-color: var(--controlButtonBGC);
        color: var(--fontColor);

        transition: background-color 250ms,
                    color 250ms;
    }
}