@charset "UTF-8";
/*编码不能删，因为下面那个content里面显示的中文，如果删了会乱码*/
:root {
    /*标签页左侧列表宽度*/
    --width-left-list: 80px;

    /*提交结果标签的结构高度*/
    --height-submit: 25dvh;
}

@media screen and (max-width: 768px) {
    /*========================================主页样式========================================*/
    body.tab-wallpaper {
        /*=============================body=============================*/
        /*调整body高度*/
        min-height: 100vh;
        /*=============================上：搜索框=============================*/
        /*调整筛选背景位置*/
        #Filter {
            width: 100vw;
            height: auto;
            margin-top: 0;
        }

        /*搜索框架，宽度顶满*/
        #searchFrame {
            width: 100%;
            height: auto;

            /*让提示框根据这个定位*/
            position: relative;
        }

        /*搜索框*/
        #fuckLabel {
            margin: 20px 0;
        }

        /*控制按钮大小*/
        #searchButton {
            white-space: nowrap;
            font-size: 24px;
        }

        /*搜索提示框*/
        #inputTips {
            position: absolute;
            /*切换父元素，微调边距*/
            width: 100vw;
            left: -1px;
            margin-top: 1px;

            /*为翻页区留出空间*/
            padding-left: 41px;
        }

        /*删除定位relative，替换relative*/
        #inputWrapper {
            position: static;
        }

        /*文本输入框*/
        #input {
            font-size: 20px;
        }

        /*翻页区框架*/
        #turn {
            width: 40px;
        }

        /*翻页区按钮*/
        .switchTips {
            height: 40px;
            line-height: 40px;
            font-size: 26px;
        }

        /*候选词*/
        .words {
            height: 40px;
            line-height: 40px;
        }
        /*=============================中：图片展示区=============================*/
        /*图片展示背景，宽度顶满屏幕*/
        #select {
            width: 100%;
            min-height: 90vh;
            height: auto;
            margin-bottom: 20vh;
        }

        /*图片展示方式*/
        #select {
            grid-template-columns: repeat(2, 1fr);
            gap: 5px;
            padding: 5px;
        }

        /*每个图片的样式*/
        .imgs {
            height: 15vh;
        }

        /*预览大图样式*/
        .imgs.active {
            /*使用js计算位移参数*/
            transform: translate(var(--tx), var(--ty)) scale(var(--scale)) rotate(90deg);

            /*删除阴影和边框*/
            box-shadow: transparent 0 0 0 0;
        }

        /*回到顶部按钮*/
        #toTop {
            z-index: var(--z-search);
        }

        /*移动端单独的图片遮罩逻辑*/
        #imgOverlay {
            backdrop-filter: none;
            background-color: transparent;

            will-change: background-color;
            transition: background-color 250ms ease;
        }
        #imgOverlay.show {
            background-color: var(--imgLiningColor);
            transition: background-color 250ms ease;
        }
        /*=============================下：回到顶部=============================*/
        #toTop {
            bottom: 90px;
        }
        /*=============================隐藏其他元素=============================*/
        #ShortcutKey {
            display: none;
        }

        #control {
            display: none;
        }

        .pc-only {
            display: none;
        }

        #filterBox {
            display: none;
        }
    }
    /*========================================筛选标签========================================*/
    body.tab-tags {
        /*=============================body=============================*/
        height: auto;
        min-height: auto;

        /*隐藏滚动条，防止浏览进度发生变化*/
        overflow: hidden;
        /*=============================框架=============================*/
        /*大框架，包括控制栏*/
        #Filter {
            width: 100vw;
            /*70高度是tab的高度*/
            height: calc(100dvh - 70px);
            margin-top: 0;
        }
        /*固定框架，防止切换高度异常*/
        #Filter {
            position: fixed;
            top: 0;
            left: 0;
        }
        /*框架布局*/
        #Filter {
            display: grid;
            /*80是控制栏，1fr填满剩余空间*/
            /*竖向布局*/
            grid-template-rows: 1fr 80px;
        }

        /*小框架，筛选区*/
        #filterBox {
            width: 100vw;
            /*1fr配合100%填满空间*/
            /*因为电脑布局里面写过一次，所以重新写*/
            height: 100%;
        }
        /*筛选区布局*/
        #filterBox {
            display: flex;
            flex-direction: column;
            position: relative;
        }
        /*=============================标签列表=============================*/
        /*隐藏原有文本，用伪元素显示短文本*/
        .item {
            font-size: 0;
            padding: 3px;
        }
        .item:after {
            content: attr(data-short);
            font-size: 16px;
            padding: 0;
        }

        /*摘出绝对定位，脱离文档流*/
        #tagList {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: var(--width-left-list);
        }
        #tagList {
            padding: 3px;
            box-sizing: border-box;
        }
        /*调整滑块新位置*/
        #activeSlider {
            left: 3px;
            right: 3px;
        }
        /*=============================选择和提交=============================*/
        /*控制显示位置*/
        #tagPool, #submitPool {
            /*给左侧列表空出空间*/
            margin-left: var(--width-left-list);
            width: calc(100% - var(--width-left-list));
            box-sizing: border-box;
        }
        /*控制内部标签*/
        #tagPool, #submitPool {
            grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
            gap: 5px;
            padding: 5px;
        }
        /*需要一个更明显的划分*/
        #submitPool {
            transform: scaleY(-1);
        }
        #submitPool .waiting {
            transform: scaleY(-1);
        }
        /*内部标签样式*/
        .waiting {
            height: 30px;
            line-height: 30px;
            font-size: 14px;
        }

        /*高度控制*/
        /*让他们占满屏幕*/
        #tagPool {
            height: calc(100dvh - 150px - var(--height-submit));
        }
        #submitPool {
            height: var(--height-submit);
        }

        /*控制边框*/
        /*不能有双边框，会变成2px*/
        #tagPool {
            border-width: 1px 1px 0 0;
        }
        #submitPool {
            border-width: 1px 1px 1px 0;
        }

        /*轶事，比较宽的布局样式，js动态添加(switchWide)*/
        #tagPool.wide,
        #submitPool.wide {
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        }

        /*滚动条*/
        #tagPool::-webkit-scrollbar {
            width: 5px;
        }
        #submitPool::-webkit-scrollbar {
            width: 5px;
        }

        /*定义提示文本*/
        #submitPool::before {
            content: "选择标签";
            font-size: 20px;

            transform: translate(-50%, -50%) scaleY(-1);
        }
        /*=============================控制栏=============================*/
        #control {
            width: 100vw;
            height: 80px;
        }
        /*边框控制*/
        #control {
            border-width: 0 1px 0 1px;
            border-style: solid;
            border-color: var(--goldLine);
        }
        #result {
            font-size: 16px;
        }

        /*隐藏普通文本，用伪元素替代*/
        .buttons {
            font-size: 0;
            border-radius: 0;
            width: 80px !important;
            height: 35px !important;
            line-height: 35px !important;
        }
        .buttons:after {
            content: attr(data-short);
            font-size: 20px;
        }
        /*=============================隐藏其他元素=============================*/
        #select {
            /*不使用display，为了保留浏览进度*/
            opacity: 0;
            z-index: -1;

            /*禁止穿透触摸*/
            pointer-events: none;

            /*不可见*/
            visibility: hidden;
        }
        #setButton {
            display: none;
        }
        #imgOverlay {
            display: none;
        }
        #searchFrame {
            display: none;
        }
    }
    /*========================================设置========================================*/
    /*=============================框架=============================*/
    #setBackground {
        align-items: flex-start;
    }
    #setFrame {
        width: 100vw;
        height: calc(100dvh - 70px);
    }
    #setPadding.show {
        width: 100vw;
        height: calc(100dvh - 70px);

        padding: 5px;
    }
    /*=============================设置菜单=============================*/
    /*基础样式*/
    #setItem.show {
        left: 0;
        top: 0;
        height: calc(100dvh - 70px);
        width: 100vw;

        padding: 0 3px;
        box-shadow: transparent 0 0 0 0;
    }
    /*内容布局*/
    #setItem.show {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        transition: height 250ms;
    }
    /*菜单收起时的样式*/
    #setItem.roll {
        height: 60px;

        transition: height 250ms;
    }

    /*========菜单控制========*/
    /*形态1：默认样式*/
    .setItem {
        line-height: 60px;
        height: 60px;
        width: 80vw;
        font-size: 25px;

        background-color: #252525;
        border-color: var(--controlButtonBGC);
        color: var(--controlButtonBGC);

        transition: width 250ms, height 250ms, background-color 250ms, color 250ms, margin 250ms, border 250ms, opacity 250ms, font-size 250ms;
    }
    /*形态2：顶部菜单*/
    .setItem.active {
        color: var(--fontColor);

        width: 100vw;
        height: 60px;
        margin-top: 0;

        transition: width 250ms, height 250ms, background-color 250ms, color 250ms, margin 250ms, border 250ms, opacity 250ms, font-size 250ms;
    }
    /*形态3：待命菜单*/
    .setItem.activeWait {
        color: var(--fontColor);
        height: 60px;
        background-color: var(--controlButtonBGC);

        transition: width 250ms, height 250ms, background-color 250ms, color 250ms, margin 250ms, border 250ms, opacity 250ms, font-size 250ms;
    }
    /*形态4：隐藏*/
    .setItem.hide {
        height: 0;
        margin-top: 0;
        border-width: 0;
        opacity: 0;
        font-size: 0;

        transition: width 150ms, height 150ms, background-color 150ms, color 150ms, margin 150ms, border 150ms, opacity 150ms, font-size 150ms;
    }
    /*=============================设置内容=============================*/
    #setBox {
        /*11px是右侧父元素padding + 滚动条 + 自己的padding*/
        width: 100vw;
        padding-right: 5px;
        margin-top: 60px;
    }
    #setBox::-webkit-scrollbar {
        width: 3px;
    }

    /*内容大小控制*/
    .title {
        font-size: 20px;
    }
    .tips {
        font-size: 16px;
    }

    /*开关大小*/
    .buttonBorder {
        zoom: 0.80;
        flex-shrink: 0;
    }

    /*========邮件========*/
    .mailInfo {
        margin-left: 5px;
    }
    .mailContent {
        font-size: 18px;
    }
    .STAMP {
        line-height: 30px;
        height: 30px;
        font-size: 30px;

        margin-right: 5px;
    }
    .attachmentContent {
        font-size: 20px;
    }
    .mailAttachment {
        height: 80px;
    }

    /*点击按钮*/
    .clickButton {
        zoom: 0.8;
    }

    /*========================================提示框========================================*/
    #noticeBox {
        height: calc(100dvh - 70px);
    }
    #noticeTitle {
        font-size: 30px;
        width: 100px;
        height: 50px;
    }
    #noticeContent {
        font-size: 20px;
        height: auto;
        min-height: 90px;
    }
    .option {
        width: 150px;
        height: 40px;
        line-height: 40px;
        font-size: 25px;
    }
}