/*这里控制整个对话框的显示隐藏*/
/*基础样式*/
#noticeBox {
    position: fixed;
    top: 0;
    left: 0;
    /*百分比，防止盖住滚动条*/
    width: 100%;
    height: 100vh;
    z-index: var(--z-notice);
}
/*布局*/
#noticeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*隐藏*/
#noticeBox {
    pointer-events: none;
    opacity: 0;
    backdrop-filter: brightness(100%) blur(0px);

    will-change: backdrop-filter, opacity;
    transition: backdrop-filter 250ms, opacity 250ms;
}
/*显示*/
#noticeBox.show {
    pointer-events: auto;
    opacity: 1;
    backdrop-filter: brightness(60%) blur(30px);

    will-change: backdrop-filter, opacity;
    transition: backdrop-filter 250ms, opacity 250ms;
}