#noticeTitle {
    width: 150px;
    height: 75px;
    margin-bottom: 30px;

    /*利用filter创建阴影*/
    filter: drop-shadow(0 0 5px var(--setSmallShadow));
}
/*边框控制*/
#noticeTitle {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: #e3d1b3;
}
/*文本控制*/
#noticeTitle {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 50px;
    color: #e3d1b3;
}
/*动画控制*/
#noticeTitle {
    transform: translateY(50px);

    will-change: transform;
    transition: transform 250ms;
}
#noticeTitle.show {
    transform: translateY(0);

    transition: transform 250ms;
}