/*明暗状态无变化的颜色不需要添加到主题中*/
/*但是要保持一致*/
#noticeContent {
    width: 100%;
    min-height: 15vh;
    height: auto;
    padding: 10px;

    /*标准提示颜色*/
    background-color: #f5e9e3;
    box-shadow: 0 0 20px -5px var(--setBigShadow);
}
/*边框控制*/
#noticeContent {
    border-style: solid;
    border-width: 2px 0 2px 0;
    border-color: #92886f;
}
/*文本控制*/
#noticeContent {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-size: 30px;
    /*支持多行文本*/
    white-space: pre-wrap;
}
/*动画控制*/
#noticeContent {
    /*scale控制宽度，transform控制高度*/
    scale: 0 1;
    transform: scaleY(0.05);

    will-change: transform, scale;
    transition: transform 125ms ease 0ms, scale 125ms ease 125ms;
}
#noticeContent.show {
    scale: 1 1;
    transform: scaleY(1);

    transition: scale 125ms ease 0ms, transform 125ms ease 125ms;
}